body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.btn {
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: #2196f3;
}

.menu-list-link:hover,
.menu-list-link:focus {
  color: #2196f3;
}

.menu-link {
  color: #757575;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.footer-bg {
  background: #2f303a;
}

.bg {
  background: #2f303a;
}

.footer-bg-location {
  color: #fff;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.footer-bg-location:hover,
.footer-bg-location:hover {
  color: #2196f3;
}

.footer-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}
